body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #F3F3F3;
}

.header-top {
    width: 100%;
    height: 22px;
    background-color: #625D5D;
    margin: 0;
}

.nav {

}

.nav li {
    background-color: #625D5D;
}
.nav li a {
    color: #fff;
    padding: 16px;
}

.nav li:hover a {
    background-color: #9e9c9c;
    color: #fff;
}



