
.content {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents {
    width: 300px;
    margin-left: 10px;
}

.content-item {
    width: 1000px;
    height: auto;
    background-color: #fff;
    text-align: center;
    margin: 100px 100px;
    border: 1px solid gray;
}

.content-item h2 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px 0 50px 0;
}

.item {
    margin: 20px;
    display: flex;
    background-color: #fff;
}

.item-left {
    width: 60%;
    margin-right: 10px;
    background-color: #fff;
}

.item-right {
    width: 40%;
    height: auto;
}

.item-left-content {
    margin: 10px;
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
}
.condition  {
    display: flex;
    justify-content: space-between;
}

.item-right {
    text-align: left;
}


.item-right label {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.item-right input {
    height: 50px;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 10px;
    width: 169px;
}

.item-right button {
    height: 50px;
    border-radius: 10px;
    color: #5283FF;
    border: 1px solid #C4C4C4;
    background: #FFF;
}

.item-right button:hover {
    background-color: #5283FF;
    color: #FFF;
}

.pay h4 {
    margin-top: 30px;
    margin-bottom: 20px;
}
.pay .price {
    display: flex;
    justify-content: space-between;
}

.pay .price div {
    margin-bottom: 10px;
}
